body {
   background: url(concrete_seamless.png);
   color: #777;
   margin: 0 auto;
   font-size: 18px;
}

#name {
   float: left;
   background-color: #4aaaa5;
   width: 250px;
   height: 70px;
   font-size: 24px;
   text-align: center;
   line-height: 3;
   font-weight: 700;
   font-family: Georgia, 'Times New Roman', Times, serif;
   color: azure;
   text-decoration: none;
}

nav {
   float: right;
   margin-top: 20px;
   /* text-decoration: none; */
}

nav a {
   text-decoration: none;
   color: #777;
   /* border-right: 1px solid #777;
   margin-left: 15px;
   padding-left: 15px; */
}

header {
   
   background-color: white;
   width: 100%;
   height: 70px;
   border-bottom: 2px solid gray;
   margin-bottom: 30px;
   /* margin: 0 auto; */
   /* margin-bottom: 0 0 30px; */
}

.container
{
   clear: both;
   width: 100%;
   max-width: 960px;
   margin: 0 auto;
   /* background-color: gold; */
   /* height: 100px; */
   /* align-content: center; */
}

#main
{
   /* max-height: 900px; */
   /* padding-top: 30px; */
   min-height: calc(100vh - 165px);
}

img {
   width: 150px;
   height: 150px;
   float: left;
   margin: 20px;
}

p {
   /* float: left; */
}

.main2 {
   float: left;
   border: 1px solid #777;
   margin-top: 20px;
   background-color: white;
   padding: 20px;
   width: 100%;
   max-width: 960px;
     /* margin-bottom:  */
   /* margin-right: 20px; */
   /* margin-left: 20px; */
   
}

h1 {
   color: #4aaaa5;
}

footer
{
   text-align: center;
   clear: both;
   height: 50px;
   background: #777;
   color: white;
   /* border-top-color:  */
   border-top: 10px solid #4aaaa5;
   /* margin-top: 20px; */
}

label, input[type=text], input[type=email], textarea
{width: 100%;
display: block;}

#contact-form li
{
   margin-bottom: 20px;
}

input[type=submit]
{
   background-color: #4aaaa5;
   height: 30px;
   border: 0 none;
   color: white;
}

ul{
   list-style: none;
}

@media screen and (max-width: 1024px) {
.main2

{
    width: 980px;
    background-color: blue;
    /* padding-left: 20px;
    padding-right: 20px; */
   margin-right: 20px;
   margin-left: 20px;
   }
.container
{
   margin: 0 auto;
       width: 980px;
       width: 100%;
       /* padding-left: 20px;
       padding-right: 20px; */
       margin-left: 20px;
       margin-right: 20px;
}

#main {
   width: 980px;
   
   /* padding: 20px;
   padding: 20px; */
   margin-right: 20px;
   margin-left: 20px;
}


   

   
}


/* 
@media screen and (max-width:960px)
{
   #name {width:700px;
   color: red;}
} */